*{
  margin: 0;
  font-family: Arial;
}


#bar-code{
  width: 40cm;
  height: 20cm;
  border: 1px solid lightgrey;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,


input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus { 
  border-style:solid;
  border-color: lightgrey;
  box-shadow: none;
  outline: 0 none;
}

