{% extends 'layout.html' %}
{% block content %}
  <div class="bg-light container w-50 h-100 p-5">
    <h1 class="text-primary fs-40 fw-bolder text-center">Facebook.com</h1>
    <div class="container ">
      <div class="input-group p-5">
        <input id="input-username" type="text" class="form-control p-2 round w-100 my-2 text-center" placeholder="Username">
        <input id="input-password" type="text" class="form-control p-2 w-100 my-2 text-center" placeholder="Password">
        <button id="btn-login" class="btn btn-primary w-100 my-2">login</button>
        <button class="btn  w-100 my-2">forgot password?</button>
      </div>
    </div>
  </div>
{% endblock %}